*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem === 10px */
}

/* Hele body is even hoog als het scherm dat je ziet. Zo kan ik de cartoon ten alle tijden in het midden afbeelden, ongeacht de grootte van de scherm van de gebruiker.*/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartman {
}

.cartman__face {
  width: 50rem;
  height: 40rem;
  background-color: #fcdab3;
  border-radius: 50%;
}
